.name-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.card-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}
.card-hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
}
